* {
  box-sizing: border-box !important;
}
.login {
  /* background-image: url('../../Image/signup-bg.png'); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fcfcfc;
}
.login form,
.other-login {
  max-width: 400px;
  margin: 0 auto;
}
.form-control {
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: inset 1px 1px 4px #babecc, inset -4px -4px 8px #fff;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}
.form-control:focus {
  outline: none !important;
  border: none;
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.container .sign-btn {
  background-color: #ebecf0 !important;
  color: red;
  font-weight: 500;
  box-shadow: inset 2px 2px 4px #babecc, inset -2px -2px 4px #fff;
  font-size: 18px !important;
  border-radius: 30px !important;
  transition: 0.5s !important;
}
.container .sign-btn:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
.logo-body img {
  height: 80px;
  margin-top: 80px;
}
.warning {
  color: red;
}
