.logo {
  height: 50px;
}
.btn-signUp {
  background-color: red;
  font-weight: 600;
  box-shadow: 1px 1px 4px rgb(255, 60, 60), -4px -4px 8px #fff;
  border-radius: 30px;
  padding: 6px 22px;
  color: #fff;
}
.btn-signUp:hover {
  color: #fff;
  background-color: rgb(155, 2, 2);
}
.header ul li a {
  color: gray;
}
.header ul li a:hover {
  color: black;
}
